Source: tree-sitter-c
Priority: optional
Maintainer: Tree-sitter Team <team+tree-sitter@tracker.debian.org>
Uploaders:
 James McCoy <jamessan@debian.org>,
Build-Depends:
 cargo:native,
 debhelper-compat (= 13),
 dh-sequence-rust,
 nodejs,
 librust-cc-1+default-dev (>= 1.0.90),
 librust-tree-sitter-0+default-dev (>= 0.21),
 rustc:native,
 tree-sitter-cli (>= 0.22.6),
Standards-Version: 4.7.2
Section: libs
Homepage: https://github.com/tree-sitter/tree-sitter-c/
Rules-Requires-Root: no
Vcs-Git: https://salsa.debian.org/tree-sitter-team/tree-sitter-c.git
Vcs-Browser: https://salsa.debian.org/tree-sitter-team/tree-sitter-c

Package: tree-sitter-c-src
Architecture: all
Depends:
 ${misc:Depends},
 gcc,
 libc6-dev | libc-dev,
 libtree-sitter-dev (>= 0.22),
 make,
 pkgconf,
Description: C parser for Tree-sitter (source files)
 This package contains the generated source files for building the C parser
 shared object.

Package: librust-tree-sitter-c-dev
Section: rust
Architecture: any
Multi-Arch: same
Depends:
 librust-cc-1+default-dev (>= 1.0.90),
 librust-tree-sitter-0+default-dev (>= 0.21),
 ${misc:Depends}
Provides:
 librust-tree-sitter-c+default-dev (= ${binary:Version}),
 librust-tree-sitter-c-0+default-dev (= ${binary:Version}),
 librust-tree-sitter-c-0-dev (= ${binary:Version}),
 librust-tree-sitter-c-0.21+default-dev (= ${binary:Version}),
 librust-tree-sitter-c-0.21-dev (= ${binary:Version}),
 librust-tree-sitter-c-0.21.3+default-dev (= ${binary:Version}),
 librust-tree-sitter-c-0.21.3-dev (= ${binary:Version}),
Description: C grammar for the tree-sitter parser - Rust source code
 tree-sitter-c is a tree-sitter grammar for C.
 .
 Tree-sitter is a parser generator and incremental parsing library.
 .
 This package contains the source for the Rust tree-sitter-c crate,
 packaged for use with cargo.
